<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if webpages %}
<table border="2pt">



<tr>


<th>Topic</th>
<th>Webpage Name</th>
<th>Webpage URL</th>
</tr>
{% for webpage in webpages %}
<tr>



<td>{{webpage.top_name}}</td>
<td>{{webpage.name}}</td>
<td>{{webpage.url}}</td>



</tr>

{% endfor %}
</table>
{% else %}
<h1>No Data Found</h1>

{% endif %}
<a href="% url 'myapp: topic_form %}">Choose Topics</a>
</body>
</html>