 {% extends "s.html" %}
{% load static %}

 {% block title %}
 <title>Belur</title>  
 {% endblock %}
{% block body_block %}
 <div class="jumbotron">
		 <h1>Belur</h1>
		 <img src="{% static 'images/belur1.jpg' %}" alt="no image found" height="500px" width="602px">
		 <img src="{% static 'images/belur2.jpg' %}" alt="no image found" height="500px" width="602px">
		 <img src="{% static 'images/belur3.jpg' %}" alt="no image found" height="500px" width="602px">
	 </div>
	 <p allign="justify">
			Belur was the early capital of the Hoysala Empire. Belur along with Halebidu about 16 km away are one of the major tourist destinations in Karnataka. Belur is located in Hassan district. According to inscriptions discovered here, it was also referred to as Velur or Velapuri. It was the early capital of the Hoysala kings in 11th-century and remained a second capital through the 14th-century. The city was so esteemed by the Hoysalas that it is referred to as "earthly Vaikuntha" (Vishnu's abode) and "dakshina Varanasi" (southern holy city of Hindus) in later inscriptions.Its name is related to the name of the mineral beryl and the element beryllium.
	 </p>
 {% endblock %}