{% load static %}
<!doctype html>
<html>
<head>
<title>halebidu</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<h1>HALEBIDU</h1>
<img src="{% static 'images/hal1.jpg' %}" alt="no image found" height="650px" width="750px">
		 <img src="{% static 'images/hal2.jpg' %}" alt="no image found" height="650px" width="750px">
		 <img src="{% static 'images/hal3.jpg' %}" alt="no image found" height="650px" width="750px">
		 <img src="{% static 'images/hal4.jpg' %}" alt="no image found" height="650px" width="750px">
<p allign="justify">Halebidu (IAST: Haḷēbīḍ, also Halebeedu or Halebid, literally "old capital, encampment") is a town located in Hassan District, Karnataka, India. Halebidu (which used to be called Dorasamudra or Dwarasamudra) was the regal capital of the Hoysala Empire in the 12th century. It is home to some of the best examples of Hoysala architecture. Most notable are the ornate Hoysaleshwara and Kedareshwara temples. The city got the name "Halebidu" because it was damaged and deserted into "old capital" after being ransacked and looted twice by Islamic forces of the Delhi Sultanate in the 14th-century.The town is known for its temple complexes</p>


</body>
</html>